.btn {
    padding: 0.7rem 1.2rem;
    border-radius: 0.25rem;
}

.btn-primary {
    color: #A64E3D;
    background-color: #FEB8A9;
    border: 2px solid #FEB8A9;
    border-radius: 15px;
    font-weight: 600;
}
.btn-primary:not(:hover) {
    transition-duration: 0.4s;
}

.btn-primary:hover {
    color: #3C0203;
    background-color: #FEDAD1;
    border: 2px solid #3C0203;
    transition-duration: 0.6s;
}

.btn-primary:focus, .btn-primary.focus {
    color: #3C0203;
    background-color: #FEDAD1;
    border: 2px solid #3C0203;
    transition-duration: 0.6s;
}