a, a:hover, a:visited {
    color: var(--md-sys-color-primary-light);
}

.btn {
    padding: 0.7rem 1.2rem;
    border-radius: 15px;
    font-weight: 600;
}

.btn-primary {
    color: #A64E3D;
    background-color: #FEB8A9;
    border: 2px solid #FEB8A9;
    border-radius: 15px;
    font-weight: 600;
}

.btn-primary:not(:hover) {
    transition-duration: 0.4s;
}

.btn-primary:hover {
    color: var(--md-ref-palette-primary10);
    background-color: var(--md-ref-palette-primary90);
    border: 2px solid var(--md-ref-palette-primary10);
    transition-duration: 0.6s;
}

.btn-primary:focus, .btn-primary.focus {
    color: var(--md-ref-palette-primary10);
    background-color: var(--md-ref-palette-primary90);
    border: 2px solid var(--md-ref-palette-primary10);
    transition-duration: 0.6s;
}

.btn-secondary {
    color: var(--md-ref-palette-secondary30);
    background-color: var(--md-ref-palette-secondary90);
    border: 2px solid var(--md-ref-palette-secondary90);
    border-radius: 15px;
    font-weight: 600;
}

.btn-secondary:not(:hover) {
    transition-duration: 0.4s;
}

.btn-secondary:hover {
    color: var(--md-ref-palette-secondary30);
    background-color: var(--md-ref-palette-secondary90);
    border: 2px solid var(--md-ref-palette-secondary30);
    transition-duration: 0.6s;
}

.btn-secondary:focus, .btn-secondary.focus {
    color: var(--md-ref-palette-secondary30);
    background-color: var(--md-ref-palette-secondary90);
    border: 2px solid var(--md-ref-palette-secondary30);
    transition-duration: 0.6s;
}



.btn-tertiary {
    color: var(--md-ref-palette-tertiary30);
    background-color: var(--md-ref-palette-tertiary90);
    border: 2px solid var(--md-ref-palette-tertiary90);
    border-radius: 15px;
    font-weight: 600;
}

.btn-tertiary:not(:hover) {
    transition-duration: 0.4s;
}

.btn-tertiary:hover {
    color: var(--md-ref-palette-tertiary30);
    background-color: var(--md-ref-palette-tertiary90);
    border: 2px solid var(--md-ref-palette-tertiary30);
    transition-duration: 0.6s;
}

.btn-tertiary:focus, .btn-tertiary.focus {
    color: var(--md-ref-palette-tertiary30);
    background-color: var(--md-ref-palette-tertiary90);
    border: 2px solid var(--md-ref-palette-tertiary30);
    transition-duration: 0.6s;
}




.btn-neutral {
    color: var(--md-ref-palette-neutral30);
    background-color: var(--md-ref-palette-neutral90);
    border: 2px solid var(--md-ref-palette-neutral30);
    border-radius: 15px;
    font-weight: 600;
}

.btn-neutral:not(:hover) {
    transition-duration: 0.4s;
}

.btn-neutral:hover {
    color: var(--md-ref-palette-neutral30);
    background-color: var(--md-ref-palette-neutral90);
    border: 2px solid var(--md-ref-palette-neutral30);
    transition-duration: 0.6s;
}

.btn-neutral:focus, .btn-neutral.focus {
    color: var(--md-ref-palette-neutral30);
    background-color: var(--md-ref-palette-neutral90);
    border: 2px solid var(--md-ref-palette-neutral30);
    transition-duration: 0.6s;
}

