@media (min-width: 992px) {
    .landing-bg {
        height: 100vh;
        padding: 0;
    }
}
@media (max-width: 992px) {
    .circle {
        height: 250px;
        width: 250px;
    }

    .triangle {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #416277;
    }
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 0!important;
        padding: 0px;
    }
    #page-content-wrapper {
        margin-left: 0px;
        padding-left: 0px;
    }

    nav.fixed-top {
        display: block;
    }
}
@media (max-width: 767.98px) {
    #sidebar-wrapper {
        display: none;
    }

    .navbar {
        display: block;
    }
}
