@font-face {
    font-family: 'Metropolis-Medium';
    font-style: normal;
    font-weight: 100 700;
    src: url(../assets/fonts/metropolis/Metropolis-Medium.otf) format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis-ExtraBold';
    font-style: normal;
    font-weight: 100 700;
    src: url(../assets/fonts/metropolis/Metropolis-ExtraBold.otf) format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis-Bold';
    font-style: normal;
    font-weight: 100 700;
    src: url(../assets/fonts/metropolis/Metropolis-Bold.otf) format('opentype');
    font-display: swap;
}