@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');


body {
    font-family: 'Metropolis-Medium', sans-serif;
}

button, .btn, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Metropolis-Bold', sans-serif;
}

.landing-bg {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-color: #E8F2EF;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
    opacity: 1;
}

hr.divider-light {
    border-color: #fff;
}

.me {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-size: 2.5rem;
    color: #219F83;

}

.job-title {
    color: #B8D0C7;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    font-size: 1.25rem;
}

.about-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%); */
    background-color: #B8DAF0;
}

