@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

body {
    font-family: 'Metropolis-Medium', sans-serif;
    background-color: #E8F2EF;
}

button, .btn, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Metropolis-Bold', sans-serif;
}

.landing-bg {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    /*background-color: #E8F2EF;*/
    overflow: hidden;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
    opacity: 1;
}

hr.divider-light {
    border-color: #fff;
}

.me {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-size: 2.5rem;
    color: #219F83;

}

.job-title {
    color: #4b635b;
    font-family: 'Metropolis-Bold', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    font-size: 1.25rem;
}

section {
    padding-left: 10px;
}

.about-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #C5E7FF;
    color: #001e2d;
}

.circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 250px solid #416277;
    position: absolute;
    overflow: hidden;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.triangle:hover{
    border-bottom: 250px solid #0073bb;
}

.circle,
.triangle {
    position: absolute;
    z-index: -1;
}

.circle-green {
    background-color: #006b57;
    top: 10%;
    left: 25%;
    height: 350px;
    width: 350px;
}

.circle-blue {
    background-color: #7d968d;
    top: 3%;
    left: 45%;
    height: 450px;
    width: 450px;
}

.circle-red {
    background-color: #ffdad6;
    top: 50%;
    left: 105%;
}

