body {
    background-color: var(--md-sys-bg-landing);
    color: var(--md-sys-color-on-surface-variant);;
}

strong {
    font-family: var(--md-sys-typescale-display-medium-font-family-name);
}

.text-description > * {
    font-family: 'ProductSans-Medium', Arial, Helvetica, sans-serif;
}

.landing-bg {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    overflow: hidden;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
    opacity: 1;
}

hr.divider-light {
    border-color: #fff;
}

.me {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: #219F83;
}

@media (max-width: 768px) {
    .me {
        font-size: 2.5rem!important;
    }
}

@media (max-width: 480px) {
    .me {
        font-size: 2rem!important;
    }
}


.letter, .space {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
}

/* Délai d'apparition des lettres */
.letter:nth-child(1) { animation-delay: 0s; }
.letter:nth-child(2) { animation-delay: 0.1s; }
.letter:nth-child(3) { animation-delay: 0.2s; }
.letter:nth-child(4) { animation-delay: 0.3s; }
.letter:nth-child(5) { animation-delay: 0.4s; }
.space { width: 10px; display: inline-block; }
.letter:nth-child(7) { animation-delay: 0.5s; }
.letter:nth-child(8) { animation-delay: 0.6s; }
.letter:nth-child(9) { animation-delay: 0.7s; }
.letter:nth-child(10) { animation-delay: 0.8s; }
.letter:nth-child(11) { animation-delay: 0.9s; }
.letter:nth-child(12) { animation-delay: 1s; }

/* Animation du SVG (Soulignement) */
.underline-svg {
    margin-top: 10px;
}

.underline-path {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: drawLine 1.5s ease-out 1.2s forwards;
}

/* Animation du Job Title */
.job-title {
    margin-top: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out 1.5s forwards;
}

/* Animation du Bouton */
.btn-landing {
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInScale 0.8s ease-out 2s forwards;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Effet au survol */
.btn-landing:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drawLine {
    from {
        stroke-dashoffset: 250;
    }
    to {
        stroke-dashoffset: 0;
    }
}


section {
    padding-left: 10px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    font-weight: 400;
}

.copyright, .copyright > * {
    font-family: var(--md-sys-typescale-footer-copyright-family-name);
}

footer a {
    color: var(--md-sys-color-on-surface-variant);
}

.sharethis-inline-share-buttons {
    margin-top: 10px;
}

.st-total {
    margin-right: 20px !important;
    color: var(--md-sys-color-on-surface-variant) !important;
}

.contact-section {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
}

.projects-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-surface);
}

.circle, .star {
    transform: scale(0);
    transition: transform 0.9s ease-out;
    will-change: transform; /* Optimisation pour les animations */
    position: absolute;
    z-index: -1;
}

.circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.star {
    overflow: hidden;
    width: 350px;
    height: 350px;
    top: 85%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.circle-green {
    background-color: var(--md-sys-color-landing-circle1);
    top: 10%;
    left: 25%;
    height: 350px;
    width: 350px;
}

.circle-blue {
    background-color: var(--md-sys-color-landing-circle2);
    top: 3%;
    left: 45%;
    height: 450px;
    width: 450px;
}

.circle-red {
    background-color: var(--md-sys-color-landing-circle3);
    top: 50%;
    left: 80%;
}

.brand{
    font-weight: 600;
}

.card {
    /*background-color: var(--md-sys-color-surface);*/
    border-radius: 8px;
    box-shadow: var(--md-sys-color-shadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
}

.card-header {
    padding: 16px;
}

.card-title {
    color: var(--md-sys-color-on-surface);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.card-content {
    padding: 16px;
}

.card-text {
    color: var(--md-sys-color-on-surface);
    font-size: 14px;
    margin: 0;
}

.card-img {
    border-radius: 20px;
}

.img-project {
    max-width: 170px;
    max-height: 150px;
    min-height: 150px;
    padding: 2px;
    margin: 3px;
    border-radius: 20px;
    background-color: var(--md-sys-color-tertiary);
}

.badge-project {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-secondary);
    font-family: var(--md-sys-typescale-display-small-font-family-name);
}
.badge-date {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-tertiary);
    font-family: var(--md-sys-typescale-display-small-font-family-name);
}
.collapsible {
    margin-bottom: 10px;
    border-radius: 4px;
}

.collapsible-header {
    cursor: pointer;
    background-color: var(--md-sys-color-surface-tint);
    color: var(--md-sys-color-surface);
    padding: 12px;
    border-radius: 20px 20px 0 0;
    margin-top: 10px;
}

.collapsible-header.collapsed {
    border-radius: 20px 20px 20px 20px;
    transition-duration: 1s;
}

.collapsible-header:hover {
    background-color: var(--md-sys-color-surface-tint);
}

.collapsible-header i.material-icons {
    font-size: 24px;
}

.collapsible-body {
    padding: 12px;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    border: none;
    border-radius: 0 0 20px 20px;
    margin-bottom: 10px;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -50px 0 0 0 !important;
    z-index: -999999;
    opacity: 0;
}
